Hello, <%= @user.username %>
<br>
<a href="/">Home</a>
<a href="/logout">Logout</a>
<br>
<a href="/reviews/new">Create a new review</a>
<br>
<% if @user.public == true %>
    *Anyone can see your reviews*
<% else %>
    *Only you can see your reviews*
<% end  %>
<br>

<h2>My Reviews</h2>
    <% @reviews = @user.reviews %>

    <% @reviews.each do |review| %>
        <br>
        <%= review.type_of_media %> - <%= review.name %>
        <br>
        Completion Status: <%= review.completion %> 
        <br>
        Review Score: <%= review.review_score %>
        <br>
        Additional Thoughts: <%= review.review_body %>
        <br>
        <a href="/reviews/<%= review.id %>">More Actions</a>
        <br>
        ---------------------------------------------------------------
        <br>

    <% end %>