<h2>List of Reviews</h2>
<% @reviews.each do |review| %>
    <br>
    <%= review.type_of_media %> - <%= review.name %>
    <br>
    Completion Status: <%= review.completion %> 
    <br>
    Review Score: <%= review.review_score %>
    <br>
    Additional Thoughts: <%= review.review_body %>
    <br>
    <% user = User.find_by_id(review.user_id) %> 
    Review by User: <%= user.username %>
    <br>
    ---------------------------------------------------------------
    <br>
<% end %>