<h1>My Content Review</h1>
<% if is_logged_in? == true %>
    <% user = current_user %>
      Welcome back, <%=user.username%>
      <br>
      <a href="/account/<%= user.id %>">Account</a>
      <a href="/logout">Logout</a>
<% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
  <% end %>

  <h2>List of Reviews</h2>
    <% @users.each do |user| %>
        <% @reviews = user.reviews %>

        <% @reviews.each do |review| %>
            <br>
            <%= review.type_of_media %> - <%= review.name %>
            <br>
            Completion Status: <%= review.completion %> 
            <br>
            Review Score: <%= review.review_score %>
            <br>
            Additional Thoughts: <%= review.review_body %>
            <br>
            <% user = User.find_by_id(review.user_id) %> 
            Review by User: <%= user.username %>
            <br>
            ---------------------------------------------------------------
            <br>

        <% end %>
    <% end %>